{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
{% load staticfiles %}
<p>Лучший музей россии</p>
<p>Мы представляем экспанаты таких категорий как:</p>
<a href="https://ru.wikipedia.org/wiki/Холодное_оружие_Древней_Руси" target="_blank"><img src="{% static 'app/content/logo.png' %}" alt="Logo 1" width="20"height="20"/>Холодное оружие Древней Руси</a><br />
<a href="https://diletant.media/blogs/72961/43234600/" target="_blank"><img src="{% static 'app/content/logo.png' %}" alt="Logo 1" width="20"height="20"/>Оружие древней греции</a><br />
<a href="https://www.techcult.ru/weapon/2387-strelkovoe-oruzhie-vermahta" target="_blank"><img src="{% static 'app/content/logo.png' %}" alt="Logo 1" width="20"height="20"/>Стрелковое оружие Второй мировой войны</a>

{% endblock %}
