{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Лучший музей россии</p>
<p>Мы представляем экспанаты таких категорий как:</p>
<a href="https://ru.wikipedia.org/wiki/Холодное_оружие_Древней_Руси">Холодное оружие Древней Руси</a><br />
<a href="https://diletant.media/blogs/72961/43234600/">Оружие древней греции</a><br />
<a href="https://www.techcult.ru/weapon/2387-strelkovoe-oruzhie-vermahta">Стрелковое оружие Второй мировой войны</a>

{% endblock %}
