{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Музей оружия</h1>
    <p class="lead">Мы представляем для вас историю.</p>
    <p><a href="{% url 'blog' %}" class="btn btn-primary btn-large">узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Мы знакомим с историей</h2>
        <p>
            Собрание музея оружия дает возможность познакомиться не только с историей стрелкового и холодного оружия, но и с некоторыми технологическими особенностями его производства в ХVIII–ХХ веках.
            Сегодня музей оружия располагает ценнейшим собранием огнестрельного и холодного оружия как отечественного, так и зарубежного производства. Особую ценность ему придают многочисленные опытные модели, малоизвестные не только любителям, но и специалистам. Уникальность музея обусловлена тем, что он предоставляет возможность проследить основные этапы эволюции стрелкового оружия.
        </p>
        <p><a class="btn btn-default" href="{% url 'blog' %}">узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Научная деятельность</h2>
        <p> Основным направлением научной деятельности музея является изучение музейных предметов и коллекций. Такие исследования — начальная ступень работы по созданию постоянных экспозиций и временных выставок.
            Сведения, полученные в результате проводимых исследований в области истории оружия, его разработки и производства, позволяют представить оружие не только как предмет истории техники, но и рассматривать процесс его совершенствования как органичную часть цивилизационного процесса.

            Сотрудники музея проводят научные исследования как на базе документов тульских архивов, так и архивов других городов, среди которых ведущее место занимают Российский государственный архив древних актов, Государственный архив Российской Федерации, Российский государственный военно-исторический архив, Архив Санкт-Петербургского института истории Российской академии наук, Центральный государственный исторический архив Санкт-Петербурга, Российский Архив Военно-исторического музея артиллерии, инженерных войск и войск связи.

            С докладами, написанными по результатам исследований, сотрудники музея выступают на научно-практических конференциях всех уровней — от региональных до международных. Статьи, отражающие достижения музея в научно-исследовательской работе, публикуются в различных научных и научно-популярных изданиях.</p>
        <p><a class="btn btn-default" href="{% url 'blog' %}">узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Молодежь</h2>
        <p>Для молодёжи разработаны уникальные программы, включающие мастер-классы известных деятелей культуры и искусства, циклы лекций по истории и теории искусства и многое другое. Студенческий клуб «Достать ножи», который является частью Молодёжного центра, даёт возможность студентам заниматься на экспозиции музея по авторским курсам, принимать участие в тематических вечерах и праздниках в залах музея.</p>
        <p><a class="btn btn-default" href="{% url 'blog' %}">узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
